html, body {
    margin: 0px;
    padding: 0px;
    background-color: black !important;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@font-face {
    font-family: "graffiti";
    src: url("graffiti.ttf");
}

.conHeader {
    background-color: #0d6b03;
    color: black !important;
    font-family: "graffiti";
}
